{% extends '@My/OrderManage/layout.html.twig' %}

{% block title %}查看我的订单 - {{ parent() }}{% endblock %}

{% set tab_nav = 'order_list' %}

{% block main_content %}

    <div class="page-header clearfix" style="padding: 10px;margin-top: 0px;">
        <h3 class="pull-left">
            我的订单列表
        </h3>
    </div>

{% endblock %}