<div class="rc-SectionTitle">
    <div class="inner-container headline-3-text">
        <div class="full-underline-wrapper">
        </div><span class="title-wrapper">课程资料</span>
    </div>
</div>

<div class="rc-Ratings">
    <div class="rc-RatingsHeader horizontal-box align-items-absolute-center">
        <div class="ratings-icon">
            <div class="rc-CourseRatingIcons large read-only">
                <i class="c-course-rating-icon cif-star"></i>
                <i class="c-course-rating-icon cif-star"></i>
                <i class="c-course-rating-icon cif-star"></i>
                <i class="c-course-rating-icon cif-star"></i>
                <i class="c-course-rating-icon cif-star-half-empty"></i>
            </div></div>

        <div class="ratings-text headline-2-text">
<span><span>已评分 4.7，总共 5 个 </span><span>287</span>
<span> 评分</span>
</span></div></div>

</div>