<div class="course-detail-box-top mbl">
    <div class="container">
        {% include '@Course/Course/course-detail-header.html.twig' %}
    </div>
</div>


<div class="container course-detail-box-con">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                {% include '@Course/Course/course-detail-main.html.twig' %}
            </div>
        </div>
    </div>
</div>

