<div class="panel panel-default">
    <div class="panel-heading">高校云互联</div>
    <div class="list-group">
        <a href="{{U('BackManage/OpenUser/index')}}" class="list-group-item {% if menu == 'openUserManagerIndex' %}active{% endif %}">高校云互联管理</a>
    </div>
</div>