{% extends '@Home/bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}

{% block title %}添加重置密码任务{% endblock %}

{% block body %}
<form id="reset-pwd-task-form" class="form-horizontal" method="post" action="{{path('admin_reset_pwd_task')}}">
  <div class="form-group">
    <div class="col-md-3 control-label">
        <label>选择发送范围：</label>
    </div>
    <div class="controls col-md-8 radios">
        <label>
            <input type="radio" name="range" class="range"  data-type="all">全校师生
        </label><br/>
        <label>
            <input type="radio" name="range" class="range" checked data-type="recoed">导入用户记录<font color='red'>（注:只导入学号的记录不能发送密码）</font><br/>
            {% if userImportList %}
                <select class="userImportList" multiple="multiple" style="min-width:150px;padding:10px 0px 10px 0px;height:200px">
                    {% for list in userImportList %}
                        <option value="{{list.key}}" style="margin-left:10px;margin-right:10px;">{{list.name}}</option>
                    {% endfor %}
                </select>
            {% endif %}
        </label>
    </div>
  </div>
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
</form>
{% endblock %}

{% block footer %}
  <button id="reset-pwd-task-btn" data-submiting-text="正在提交"  data-submit-text="提交" type="submit" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#reset-pwd-task-form">提交</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">取消</button>
  <script>app.load('user/reset-pwd-modal')</script>
{% endblock %}