{% extends '@Home/bootstrap-modal-layout.html.twig' %}


{% block title %}添加题目{% endblock %}

{% block body %}

    <h1>还需要添加4道题目即可创建作业</h1>

{% endblock %}

{% block footer %}

    <button type="button" class="btn btn-link pull-right" data-dismiss="modal">关闭</button>

{% endblock %}
