a {
    background: transparent;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
.cdp-rule {
    border-color: rgba(0,0,0,0.05);
    margin: 15px 0;
}
.bt3-col-xs-1, .bt3-col-sm-1, .bt3-col-md-1, .bt3-col-lg-1, .bt3-col-xs-2, .bt3-col-sm-2, .bt3-col-md-2, .bt3-col-lg-2, .bt3-col-xs-3, .bt3-col-sm-3, .bt3-col-md-3, .bt3-col-lg-3, .bt3-col-xs-4, .bt3-col-sm-4, .bt3-col-md-4, .bt3-col-lg-4, .bt3-col-xs-5, .bt3-col-sm-5, .bt3-col-md-5, .bt3-col-lg-5, .bt3-col-xs-6, .bt3-col-sm-6, .bt3-col-md-6, .bt3-col-lg-6, .bt3-col-xs-7, .bt3-col-sm-7, .bt3-col-md-7, .bt3-col-lg-7, .bt3-col-xs-8, .bt3-col-sm-8, .bt3-col-md-8, .bt3-col-lg-8, .bt3-col-xs-9, .bt3-col-sm-9, .bt3-col-md-9, .bt3-col-lg-9, .bt3-col-xs-10, .bt3-col-sm-10, .bt3-col-md-10, .bt3-col-lg-10, .bt3-col-xs-11, .bt3-col-sm-11, .bt3-col-md-11, .bt3-col-lg-11, .bt3-col-xs-12, .bt3-col-sm-12, .bt3-col-md-12, .bt3-col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px){
    .bt3-col-sm-1, .bt3-col-sm-2, .bt3-col-sm-3, .bt3-col-sm-4, .bt3-col-sm-5, .bt3-col-sm-6, .bt3-col-sm-7, .bt3-col-sm-8, .bt3-col-sm-9, .bt3-col-sm-10, .bt3-col-sm-11, .bt3-col-sm-12 {
        float: left;
    }
    .bt3-col-sm-3 {
        width: 25%;
    }
    .bt3-col-sm-offset-3 {
        margin-left: 25%;
    }
    .bt3-col-sm-9 {
        width: 75%;
    }
}
@media (min-width: 1200px){
    .bt3-container {
        width: 1170px;
    }
}
@media (min-width: 992px){
    .bt3-container {
        width: 970px;
    }
}
@media (min-width: 768px) {
    .bt3-container {
        width: 750px;
    }
}

.course-bannerGuide{min-height: 135px;}
.course-bannerGuide .body-container {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50%;
}
.course-bannerGuide .banner-container {
    max-width: 960px;
}
.bt3-container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;}@media (min-width:768px){.bt3-container{width:750px}}@media (min-width:992px){.bt3-container{width:970px}}@media (min-width:1200px){.bt3-container{width:1170px}}
.course-bannerGuide .banner-row {
    margin-top: 24px;
    margin-bottom: 8px;
}
.bt3-row {
    margin-left: -15px;
    margin-right: -15px;
}
.course-bannerGuide .nav-container {
    height: 0;
    z-index: 1;
}

.rc-CommonAffixNav {
    position: relative;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
}
.rc-CommonAffixNav .nav {
    border: 1px solid rgba(0,0,0,0.1);
    background: #fff;
}
a.rc-TextNavItem {
    background-color: rgba(0,0,0,0.05);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.55);
    display: block;
    padding: 15px 18px;
    position: relative;
    text-decoration: none;
}
body, .body-1-text, .body-2-text, p {
    font-size: 14px;
    line-height: 21px;
    font-family: Arial,"Microsoft YaHei","宋体";
}
.body-2-text {
    font-family: Arial,"Microsoft YaHei","宋体";
    font-weight: bold;
}
.course-bannerGuide .header-container {
    padding-left: 10px;
    padding-right: 10px;
}
.caption-text {
    font-size: 12px;
    line-height: 18px;
    font-family: Arial,"Microsoft YaHei","宋体";
}
.rc-BannerBreadcrumbs .item {
    color: rgba(255,255,255,0.8);
}
a.nostyle {
    color: inherit;
    text-decoration: none;
}
.rc-BannerBreadcrumbs .chevron {
    margin: 0 8px;
    font-size: 10px;
}
.rc-BannerBreadcrumbs .chevron {
    margin: 0 8px;
    font-size: 10px;
}
[class^="cif-"], [class*=" cif-"] {
    font-family: 'coursera-iconfont';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
}
.cif-chevron-right:before {
    content: "\f054";
}
.display-3-text {
    font-size: 32px;
    line-height: 36px;
}
.display-6-text, .display-5-text, .display-3-text, .display-2-text {
    font-family: 'Merriweather-Light',Georgia,serif;
}
.course-bannerGuide .header-container .title {
    margin-top: 25px;
    margin-bottom: 16px;
    color: #fff;
    font-size: 36px;
    line-height: 40px;
}
.align-horizontal-center {
    text-align: center;
}
.course-content-main {
    min-height: 540px;
    max-width: 960px;
    margin-top: 16px;
}
.bt3-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.course-content-main .main-container {
    padding: 0 10px;
}
.rc-SectionWrapper {
    margin: 20px 0 60px;
}
.rc-Overview .about-section-wrapper {
    margin-bottom: 30px;
}
.rc-Overview .about-section-wrapper .course-description {
    white-space: pre-wrap;
}
.rc-CreatorInfo .creator-names {
    margin-top: 20px;
}
.display-6-text, .display-5-text, .display-4-text, .display-3-text, .display-1-text, .headline-6-text, .headline-5-text, .headline-4-text, .headline-3-text, .headline-2-text, .headline-1-text {
    font-weight: normal;
}
.headline-6-text, .headline-5-text, .headline-2-text {
    font-family: 'OpenSans-Light',Arial,sans-serif;
}
.headline-4-text, .headline-3-text, .headline-1-text {
    font-family: 'OpenSans',Arial,sans-serif;
}
.headline-4-text, .headline-3-text, .headline-2-text {
    margin-bottom: 10px;
}
.headline-1-text {
    font-size: 16px;
    line-height: 24px;
}
.headline-2-text {
    font-size: 20px;
    line-height: 24px;
}
.headline-3-text {
    font-size: 22px;
    line-height: 24px;
}
.horizontal-box, h1.tab-headline, h2.tab-headline, h3.tab-headline, h4.tab-headline, h5.tab-headline, h6.tab-headline, h1.tab-headline-small, h2.tab-headline-small, h3.tab-headline-small, h4.tab-headline-small, h5.tab-headline-small, h6.tab-headline-small, .search-bar, .search-bar .input-area, .pagination-controls-container, .pagination-controls-container .box {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.horizontal-box {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.rc-CreatorInfo .creator-logos {
    margin-top: 15px;
    margin-bottom: 30px;
}
.rc-CreatorInfo .creator-logos img {
    display: inline-block;
}
.rc-BasicInfo {
    margin-top: 30px;
    margin-bottom: 40px;
}
.bt3-table-bordered {
    border: 1px solid #ddd;
}
.bt3-table {
    width: 100%;
    margin-bottom: 20px;
}
.bt3-table-striped > tbody > tr:nth-child(odd) > td, .bt3-table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}
.bt3-table-bordered > thead > tr > th, .bt3-table-bordered > tbody > tr > th, .bt3-table-bordered > tfoot > tr > th, .bt3-table-bordered > thead > tr > td, .bt3-table-bordered > tbody > tr > td, .bt3-table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}
.bt3-table > thead > tr > th, .bt3-table > tbody > tr > th, .bt3-table > tfoot > tr > th, .bt3-table > thead > tr > td, .bt3-table > tbody > tr > td, .bt3-table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
@media (min-width: 768px) {
    .rc-BasicInfo table.basic-info-table tbody tr td:first-child {
        min-width: 200px;
    }
}
@media (min-width: 768px) {
    .rc-BasicInfo table.basic-info-table tbody tr td {
        padding: 15px 20px;
    }
}
.rc-BasicInfo table.basic-info-table tbody tr td:first-child {
    width: 200px;
}
.rc-BasicInfo table.basic-info-table tbody tr td:first-child .td-title {
    font-weight: bold;
    vertical-align: top;
}
.rc-BasicInfo table.basic-info-table tbody tr td:nth-child(2) {
    vertical-align: middle;
}
.rc-SectionTitle {
    margin-bottom: 25px;
}
.rc-SectionTitle .inner-container {
    position: relative;
}
.rc-SectionTitle .full-underline-wrapper {
    border-bottom: 1px solid rgba(0,0,0,0.05);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.rc-SectionTitle .title-wrapper {
    padding-bottom: 15px;
    padding-right: 15px;
    display: inline-block;
    border-bottom: 1px solid rgba(0,0,0,0.45);
}
.rc-TogglableContent.collapsed .content {
    overflow: hidden;
}
.rc-TogglableContent .content {
    position: relative;
}
.rc-ChapterView {
    margin-top: 0;
}
.rc-ChapterView .chapter-item:first-child {
    margin-top: 0;
}
.rc-ChapterView .chapter-item {
    border: 1px solid rgba(0,0,0,0.1);
    margin-top: 15px;
}
.rc-ChapterView .chapter-item .chapter-heading {
    color: rgba(0,0,0,0.45);
    background-color: #f6f6f6;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    height: 48px;
    padding: 15px 16px;
}
.rc-ChapterView .chapter-item .chapter-body {
    padding: 5px 32px 20px 32px;
    background-color: #fff;
}
.rc-ModuleView {
    margin-top: 48px;
}
.rc-ModuleView .module-name {
    padding-bottom: 4px;
}
.rc-ModuleView .module-desc {
    padding-bottom: 16px;
}
button.button-link {
    color: #2775d1;
    text-decoration: none;
    cursor: pointer;
}
button.nostyle, button.button-link {
    background: transparent none repeat 0 0 scroll;
    color: rgba(0,0,0,0.87);
    border: 0;
    font-size: 1em;
    margin: 0;
    outline: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    min-width: 0;
}
.horizontal-box, h1.tab-headline, h2.tab-headline, h3.tab-headline, h4.tab-headline, h5.tab-headline, h6.tab-headline, h1.tab-headline-small, h2.tab-headline-small, h3.tab-headline-small, h4.tab-headline-small, h5.tab-headline-small, h6.tab-headline-small, .search-bar, .search-bar .input-area, .pagination-controls-container, .pagination-controls-container .box {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.horizontal-box {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.rc-ModuleSummary .items-summary-section {
    margin-top: 16px;
}
.rc-ModuleSummary .item-row {
    margin-top: 10px;
}
ol {
    margin-top: 0;
    margin-bottom: 10px;
}
.rc-ModuleSummary .item-name {
    margin-left: 8px;
}
.rc-ModuleSummary .icon {
    font-size: 18px;
}
[class^="cif-"], [class*=" cif-"] {
    font-family: 'coursera-iconfont';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
}
.rc-ModuleSummary .desc {
    margin-left: 8px;
}
.rc-TogglableContent .content .overlay {
    background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), #f5f5f5), rgba(0,0,0,0);
    background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), #f5f5f5), rgba(0,0,0,0);
    background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), #f5f5f5), rgba(0,0,0,0);
    background: -ms-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), #f5f5f5), rgba(0,0,0,0);
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), #f5f5f5), rgba(0,0,0,0);
    bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    position: absolute;
    right: 0;
    top: 0;
}
.rc-TogglableContent .content .overlay {
    -webkit-background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), #f5f5f5),rgba(0,0,0,0);
    -moz-background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), #f5f5f5),rgba(0,0,0,0);
    -ms-background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), #f5f5f5),rgba(0,0,0,0);
    -o-background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), #f5f5f5),rgba(0,0,0,0);
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), #f5f5f5),rgba(0,0,0,0);
    bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: .8;
    filter: alpha(opacity=0.8);
    position: absolute;
    right: 0;
    top: 0;
}
.overlay {
    background-color: rgba(0,0,0,0.83);
}
.rc-TogglableContent .toggle-button-wrapper {
    margin-top: 5px;
}
.rc-PhoenixCdp2016 .cdp-view-all-button {
    border: 1px solid #7e778b;
    color: #7e778b;
    background-color: transparent;
    width: 100%;
    padding: 15px 20px;
    border-color: #c3c3c3;
    outline-width: 0;
    font-size: 14px;
}
button.passive {
    border: 1px solid #7e778b;
    color: #7e778b;
    background-color: transparent;
}
button.primary, button.secondary, button.passive, button.facebook, button.linkedin {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-image: none;
    border: none;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    text-decoration: none;
    color: #fff;
    min-width: 72px;
    padding: 10px 20px;
    -webkit-transition-property: background-color,box-shadow(),color,opacity(n, args);
    -moz-transition-property: background-color,box-shadow(),color,opacity(n, args);
    -o-transition-property: background-color,box-shadow(),color,opacity(n, args);
    -ms-transition-property: background-color,box-shadow(),color,opacity(n, args);
    transition-property: background-color,box-shadow(),color,opacity(n, args);
    -webkit-transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    -ms-transition-duration: 100ms;
    transition-duration: 100ms;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    -o-transition-delay: 0ms;
    -ms-transition-delay: 0ms;
    transition-delay: 0ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-border-radius: 0;
    border-radius: 0;
}
button.primary, button.secondary, button.passive, button.facebook, button.linkedin {
    font-size: 12px;
    line-height: 14px;
}







