{% if setting('copyright.owned') %}
  {% if setting('copyright.name') %}
    Powered by <a href="{{ path('homepage') }}" target="_blank">{{ setting('copyright.name') }}</a>
  {% endif %}
{% else %}
  Powered by <a href="/">{{ setting('site.copyright') }}</a>
  ©2014-{{'now'|date('Y')}}
{% endif %}