<a class='list-group-item {% if side_nav == 'openUser' %}active{% endif %}'href='{{ U('User/Settings/getOpenUserList') }}'>
    <span class='my-center-icon'>
        <i class='glyphicon glyphicon-cloud-upload'></i> 高校云互联
    </span>
</a>