{% extends '@BackManage/Course/layout.html.twig' %}

{% block title %}职业规划 - {{ parent() }}{% endblock %}

{% set menu = 'course_career_plan' %}

{% block main %}

    <ul class="nav nav-tabs mbl">

        <li class="{% if submenu == 'career_plan' %}active{% endif %}">
            <a href="{{ url('admin_career_course_plan') }}">职业规划
            </a>
        </li>
    </ul>

    {% block maincontent %}{% endblock %}

{% endblock %}